@model library_management_app.Models.Book[]

@{
    ViewBag.Title = "Books";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-10">
        <table class="table-hover">
           
            <tr>
                <th>
                   <strong>Title</strong> 
                </th>
                <th>
                    <strong>Description</strong> 
                </th>
                <th>
                    <strong>Favorite</strong>
                </th>
            </tr>
                    @foreach (var book in Model)
                    {
                        //TODO css with cards onhover show details and on click take to show page.
                        <tr>
                        <th>
                            @book.Title
                        </th>
                        <th>
                            @book.DescriptionHtml
                        </th>
                        <th>
                            @book.Favorite
                        </th>


                        </tr>
                    }
                
                </table>
        </div>
    </div>
